@model IEnumerable<MVC1.Models.Dipendenti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Crea Dipendente", "CreateDipendenti")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coniugato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FigliACarico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mansione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coniugato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FigliACarico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mansione)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
